meta(name="description" content="Cabutan Bertuah UiTM")
meta(name="keywords" content="cabutan bertuah, lucky draw, lucky draw online, lucky draw app, random name picker, name picker, UiTM")
meta(name="title" content="Cabutan Bertuah UiTM")
link(rel="canonical" href="https://mulu.uitm.edu.my/cabutan-bertuah/")
